<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <div class="topnav">
        <a href="https://www.stackiq.com/" target="_blank"><img src="/images/stackiq-logo-white.png"></a>
        <a href="https://www.stackiq.com/contact-us/" target="_blank">Contact Us</a>
        <a href="https://www.stackiq.com/community/" target="_blank">Community</a>
        <a href="https://www.stackiq.com/webinars/" target="_blank">Webinars</a>
        <a href="https://www.stackiq.com/products/" target="_blank">Products</a>
  </div>
</head>
