<footer class="site-footer">
  <div class="site-footer-owner">Stacki Documentation is maintained by <a href="https://www.stackiq.com/">StackIQ</a>.</div>
  <div class="site-footer-owner">
    For support or any other questions, Checkout our
    <div>
    <ul>
     <li><a href="https://groups.google.com/forum/#!forum/stacki">Google Group Page</a></li>
     <li><a href="https://www.stackiq.com/slack-team">Slack Team</a></li>
    </ul></div>
    Want to contribute to this Wiki?<br>
    <a href="https://github.com/StackIQ/stacki-wiki">Fork it and send a pull request.</a>
  </div>
</footer>
