<h3 id="contents">Contents</h3>

<ul>
  <li><a href="Home">Home</a></li>
  <li><a href="Concepts">Concepts</a></li>
  <li>Installation
    <ul>
      <li><a href="Frontend-Installation">Frontend</a></li>
      <li><a href="Backend-Installation">Backend</a></li>
    </ul>
  </li>
  <li>Configuration
    <ul>
      <li><a href="Storage-Configuration">Storage</a></li>
    </ul>
  </li>
  <li>Customization
    <ul>
      <li><a href="Carts">Carts</a></li>
      <li><a href="Extend-Your-Scripts">Carts: Extending Your Scripts</a></li>
      <li><a href="Manage-Pallets">Manage Pallets</a></li>
      <li><a href="Creating-Simple-Pallets">Creating Simple Pallets</a></li>
      <li><a href="Boxes">Boxes</a></li>
    </ul>
  </li>
  <li>Use Cases
    <ul>
      <li><a href="Mesos-Marathon-Zookeeper-Use-Case">Mesos/Marathon/Zookeeper</a></li>
      <li><a href="CoreOS-on-Stacki">CoreOS on Stacki</a></li>
      <li><a href="Ubuntu-on-Stacki">Ubuntu on Stacki</a></li>
    </ul>
  </li>
  <li>Reference
    <ul>
      <li><a href="stacki-CLI-documentation">Command Line</a></li>
      <li><a href="Wire-Reference">Wire</a></li>
      <li><a href="Example-CSV-Files">Example CSV Files</a></li>
    </ul>
  </li>
  <li>Developer
    <ul>
      <li><a href="Building-From-Source">Building From Source</a></li>
      <li><a href="Building-Source-on-CentOS">Building Source on CentOS</a></li>
    </ul>
  </li>
  <li>Frequently Asked Questions
    <ul>
      <li><a href="Kickstart-Customizations">Kickstart Customizations</a></li>
      <li><a href="include-directive">%include directive</a></li>
      <li><a href="Setting-Cart-Order">Cart Order</a></li>
    </ul>
  </li>
</ul>

<h3 id="previous-releases">Previous Releases</h3>

<ul>
  <li><a href="https://github.com/StackIQ/stacki-documentation-2.x/wiki">2.x</a></li>
  <li><a href="https://github.com/StackIQ/stacki-documentation-1.x/wiki">1.x</a></li>
</ul>

